<html ng-app="panomgr">
    <head>
        <title>Panorama Manager</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./style/common.css" crossorigin="anonymous">
    </head>
    <body style="background-color: grey" ng-controller="ProjectsController">
        <div class="container-fluid">
            <div class="row align-items-center" style="background-color: black; color:white;">
                <div class="col-lg pl-2">
                    <h2><i class="material-icons" style="font-size: x-large; ">panorama</i> Panorama Manager</h2>    
                </div>
                <div class="col-lg text-primary" ng-class="{'text-warning': status.e}">
                    <span class="float-right">&nbsp;{{status.mesg}}</span>
                    <i class="material-icons float-right" ng-if="!status.e">all_out</i>
                    <i class="material-icons float-right" ng-if="status.e">error_outline</i>
                </div>
            </div>
        </div>
        <div class="progress" style="height: 7px;">
            <div class="progress-bar progress-bar-striped progress-bar" ng-class="{'progress-bar-animated': status.ani}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 7px;"></div>
        </div>
        <div class="container-fluid pt-2 pr-4 pl-2">

            <div class="row">

                <!-- Projects -->
                <div class="col-3 float-left pr-2" >

                    <!-- New Project-->
                    <form>
                        <div class="form-row align-middle" >
                            <div class="col-10">
                                <input type="text" class="form-control" id="inputProjectName" placeholder="Add new Project" ng-model="project.name">
                            </div>
                            <div class="col-2 align-middle">
                                <a href=""><i class="material-icons align-middle" style="font-size: 38; background-color: white; border-radius: 4px;" ng-click="create()">add_box</i></a>
                            </div>
                        </div>
                    </form>

                    <div class="list-group">
                        <div ng-repeat="project in projects" class="pl-2" ng-class="{'list-group-item list-group-item-action align-middle active': project.active, 'list-group-item list-group-item-action align-middle': !project.active}" >
                            <!-- Delete -->
                            <i class="material-icons align-middle float-left mr-1 link" style="color:orange" title="Delete this project!" ng-click="delete(project)">delete</i>
                            <span href="#" class="link" ng-click="choose(project)">{{project.name}}</span>
                            <span class="createdAt" title="Created on {{project.createdAt | date : 'd-MMM-y, h:m a'}}">{{project.createdAt | date : "d-MMM"}}</span>
                        </div>
                    </div>
                </div>

                <!-- Pictures -->
                <div class="col-lg-9 pl-1" style="background-color: white; border-radius: 3px">
                    <div class="d-flex justify-content-between" ng-if="!selectedProject"><h3><i class="material-icons align-middle" style="font-size: 38;">photo</i>Please select or create a project</h3></div>
                    <span ng-if="selectedProject">
                        <div class="page-header p-1" >
                            <div class="row align-middle">
                                <div class="col-lg-6">
                                    <span ng-if="selectedProject"><h3>{{selectedProject.name}} <i class="material-icons align-middle link" style="color: mediumblue; font-size: xx-large;" ng-click="getURL(selectedProject.urlcode)" title="Click to get a Panorama Link to this gallery!" >link</i></span></h3> 
                                </div>
                                <div class="col-lg-6 align-middle">
                                    <span class="float-right" ng-if="selectedProject">
                                        <button ngf-select ng-model="imageFiles" style="font-size: small;" multiple accept="image/*">Select Files</button> 
                                        <span ng-repeat="p in imageFiles"><span class="uploadImage">{{p.name}}</span></span>
                                        <button ng-click="upload(imageFiles)" style="font-size: small;">Upload</button> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mb-2">
                                <div class="col-md-4" ng-repeat="image in selectedProject.images">
                                    <div class="thumbnail primary mb-3" style="padding: 4px; background-color: #D6EAF8; padding:1px;">
                                        <!-- <div class="caption">
                                            <input type="text" value="{{image.name}}" style="font-size: small;"><i class="material-icons align-middle float-right ml-2 link" style="color:red" title="Delete this project!" ng-click="delete(project)">delete</i>
                                        </div> -->
                                        <div class="input-group input-group-sm align-middle ">
                                            <input type="text" class="form-control" style="border: 0px; font-weight: bold;" onClick="this.select()" placeholder="image.name" ng-model="image.name">
                                            <div class="input-group-append">
                                                <i class="material-icons align-middle float-right ml-2 mt-1 link" title="Save image name..." ng-click="updateImageName(selectedProject, image)">save</i>
                                                <i class="material-icons align-middle float-right ml-2 mt-1 link" style="color:red" title="Delete this image!" ng-click="deleteImage(selectedProject, image)">delete</i>
                                            </div>
                                            
                                        </div>
                                            <a href="{{image.url}}" target="_blank" title="Uploaded on {{image.uploaded | date: 'd-MMM-y, h:m a'}}">
                                                <img src="{{image.url}}" alt="Lights" style="width:100%">
                                            </a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
        <script src="./script/app.js"></script>
    </body>
</html>