<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panorama Manager : Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/common.css" crossorigin="anonymous">
  </head>
  <body ng-app="panomgr">
      <div class="container h-100" ng-controller="UserController" ng-init="checkURL()">
          <div class="row h-100 justify-content-center align-items-center">
              <form class="col-4" style="background-color: lightgray; border-radius: 6px;padding-top: 10px;">
                  <div class="form-group">
                      <h2>Panorama Manager</h2>
                  </div>
                  <div class="form-group">
                    <label for="formGroupUsernameInput">Username</label>
                    <input type="text" class="form-control" id="formGroupUsernameInput" placeholder="Enter your username..." ng-model="user.name" value="nmj">
                  </div>
                  <div class="form-group">
                    <label for="formGroupPasswordInput">Password</label>
                    <input type="password" class="form-control" id="formGroupPasswordInput" placeholder="Enter your password" ng-model="user.password" value="nmJ2020Kop*">
                  </div>
                  <div class="form-group">
                      <button type="button" class="btn btn-primary" ng-click="login()">Sign in</button>
                  </div>
                  <div class="form-group">
                      <div class="status">{{status}}</div>
                  </div>
                </form>  
              </div>
            </form>   
          </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

    <script src="./script/app.js"></script>
  </body>
</html>
