body,html{
    height:100%;
}

project {
    background-color: lightblue;
    margin: 2px;
}

.status {
    background-color: lightgoldenrodyellow;
    font-size: 12px;
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
}

.link {
    cursor: pointer;
}

.uploadImage {
    background-color: lightblue;
    border-radius: 3px;
    font-size: small;
    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.createdAt {
    background-color: grey;
    color: white;
    border-radius: 4px;
    font-size: smaller;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 2px;
}